# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Data / ML artifacts
*.csv
*.npz
*.pkl
*.pickle
*.joblib

url_classification/data/
url_classification/02_tfidf_naive_bayes/*.npz
url_classification/02_tfidf_naive_bayes/*.pkl